* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background:#101625;
    color:white;
}
.vh-100 {
    height: 100vh; /* Full viewport height */
}

.flex-column-full {
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensures the column takes full height */
}

.flex-grow-1 {
    flex-grow: 1; /* Allows the rows to grow equally */
}

.gap3 {
    gap: 1rem; /* Adds a gap between elements */
}

.bg-section {
    background-color: #1C2235; /* Light background for visual distinction */
    border-radius: 10px /* Optional: adds a border for better visibility */
}

.padded-container {
    padding: 20px; /* Add padding around the entire page */
}

.column-gap {
    margin-left: 15px; /* Adjust the gap between columns */
}
.txt{
    color: #FFFFFF33;
}
.cont-btn{
    color: #FFFFFF33;

}
.cont-btn:hover{
    background: #101625;
    color:white;
}
.selected{
    background: #101625;
    color:white;
}
.dropdown:hover .dropdown-menu {
    display: block; /* Show dropdown on hover */
}
.recent-alerts {
    min-height: 200px; /* Set a minimum height for the Recent Alerts section */
    flex-grow: 0; /* Prevent the Recent Alerts section from growing */
    /* Optional: Add a border or background for visual distinction */
  
}
.align-items-center {
    align-items: center; /* Vertically centers items within the flex container */
}
.centers{
 
        margin: 0; /* Remove default margin */
         /* Center text horizontally */
        flex: 1; /* Allow the h1 to grow and take available space */
    
}
.alertpanel{
    background: #101625;
    border-radius: 8px;
}
.w-90{
    width: 98%;

}
.bg-sect {
    position: relative; /* To position the child img absolutely */
    overflow: hidden; /* Ensure no overflow */
    min-height: 200px; /* Adjust as necessary */
}

.bg-sect img {
    border-radius: 8px;
    position: absolute; /* Positioning relative to parent */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    width: 95%; /* Full width */
    height: 95%; /* Full height */
    object-fit: cover; /* Cover the entire div */
    transform: translate(-50%, -50%); /* Centering adjustment */
}

/* {% load static %} */
/* <link rel="stylesheet" href="{% static 'css/mudon.css' %}"> */