.table {
    background-color: transparent !important;
}

.table th,
.table td {
    background-color:  transparent !important; /* Slight transparency */
    color: white; /* Text color for contrast */
    border-color: rgba(255, 255, 255, 0.2); /* Light transparent borders */
}

.qss-btn {
    background-color: #101625 !important; /* Transparent button */
    border: none;
}
.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.search-input {
    background: #101625 !important;
    border-radius: 6px;
    padding: 0.3rem 0.5rem;
    outline: none;
    border: 1px solid #494E5D;
    color: rgb(202, 201, 201);

    width: 0;
    opacity: 0;
    transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
    position: absolute;
    right: 50px;  /* Keeps it aligned near the icon */
}

.search-input.active {
    width: 200px;  /* Adjust as needed */
    opacity: 1;
    padding-left: 20px;
}

.search-icon {
    cursor: pointer;
    z-index: 2;
    position: relative;
}
.cust-font{
    font-size: 0.8em;
}
.cust-font:hover{
    cursor: pointer;
}
.table-text{
    font-size: 0.9em !important;
}
/* Container for images */
.viewReport {
    position: relative;
    display: inline-block;
    margin: 5px; /* Optional: space between the images */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth transition */
    border-radius: 50%;
}

.find-report {
    color: white;
    border:0px;
    width:150px;
  
    background: #101625;
    box-shadow: 0px 14px 16px 2A344C; /* Box shadow */
}
.find-report:focus {
    background: #101625 !important; /* Ensures background stays dark */
    color: white !important; /* Keeps text white */
    outline: none; /* Optional: Removes default browser focus outline */
}
.find-report:hover{
    cursor: pointer;
}
/* Change calendar icon color */
.find-report::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Inverts the color of the calendar icon */
}
.bg-modal{
    background: #101625 !important; 
   
}


/* form */
.form {
    border-radius: 20px;
    box-sizing: border-box;
    height: auto;
    padding: 20px;
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; /* Adds space between input fields */
}

.input-container label {
    color: #eee;
    font-size: 14px;
    margin-bottom: 5px;
}

.report-input {
    -webkit-appearance: none; /* Hides the arrow in Safari and Chrome */
    -moz-appearance: none; /* Hides the arrow in Firefox */
    appearance: none; /* Hides the arrow in modern browsers */
    background-color: #303245;
    border-radius: 6px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 40px;
    outline: 0;
    padding: 4px 12px;
    width: 100%;
    background-image: none; /* Removes the default background arrow */
}

.report-input:hover{
    cursor: pointer;
}
/* Additional rule to hide the default dropdown arrow in Edge */
select::-ms-expand {
    display: none;
}
.border-bottom-qss {
    border-bottom: 1px solid #3c3d49;
}
.upload-label {
    display: inline-block;
    background-color: #2E2F41;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background 0.3s ease;
}

.upload-label:hover {
    background-color: #3c3d49;
}
  
.upl-video {
    background: #303245;
    border-radius: 12px;
    box-shadow: 0px 14px 16px rgba(42, 52, 76, 0.5), 0px 0px 20px rgba(0, 0, 0, 0.3);
    height: 48vh;
    width:100%;
  }

  